# Default number of objects per page

# Django secret key
SECRET_KEY = "CHANGE-ME"

# 0 = False - 1 = True
DEBUG = 1

# Comma separated values
ALLOWED_HOSTS = '127.0.0.1, localhost'
CSRF_TRUSTED_ORIGINS = 'https://localhost'


# REDIS
REDIS_URL = "redis://redis:6379/1"
CACHE_TTL = "CHANGE-ME"


# VirusTotal KEY
KEY_VIRUS_TOTAL = "CHANGE-ME"

# FireCrawl KEY
KEY_FIRECRAWL = "CHANGE-ME"

# Fact Check KEY
KEY_FACT_CHECK = "CHANGE-ME"